*
{
    margin: 0px;
    padding: 0px;
}
body,html
{
    display: block;
    margin: 0px;
    padding: 0px;
}
header img
{
    margin: 0px auto;
    display: block;
    height: 100px;
    width: auto;
}
.main
{
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
footer
{
    text-align: center;
}

footer p
{
    font-size: 12px;
    text-align: center;
    color: orangered;
    margin: 10px 0px;
    display: block;
}
