<div class="row onlinetest">
  <div class="col-lg-12"><p style="text-align: right;">Time : {{counter | formatTime}} </p></div>
  <form  [formGroup]="OnlineTestForm" (submit)="onSubmit()">
    <div class="row">
      <div class="col-lg-6 form-group" *ngFor="let question of questions; let i = index">
        <h4>{{(i+1) +". "+ question.qes}}</h4>
        <ul [ngClass]="status ? 'success' : 'danger'">
          <li>            
            <input type="radio" [name]="'choice_'+i" (change)="onItemChange($event,i)" [value]="question.options.A"/>
            <label>{{question.options.A}}</label>
          </li>
          <li>
            <input type="radio" [name]="'choice_'+i" (change)="onItemChange($event,i)" [value]="question.options.B"/>
            <label>{{question.options.B}}</label>
          </li>
          <li>
            <input type="radio" [name]="'choice_'+i"(change)="onItemChange($event,i)" [value]="question.options.C"/>
            <label>{{question.options.C}}</label>
          </li>
          <li>
            <input type="radio" [name]="'choice_'+i" (change)="onItemChange($event,i)" [value]="question.options.D"/>
            <label>{{question.options.D}}</label>
          </li>
        </ul>
          <input type="hidden" name="ans_{{i}}" value="{{question.ans}}"/>
      </div>
      <div class="col-lg-12 submitbtnq">
        <button class="button">Submit Answer</button>
      </div>
    </div>
  
  </form>
   
</div>