 <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <img src="../assets/logo.JPG" alt=" Online ServiceProvider"/>
 </header>
  <div  class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <app-login></app-login>
        </div>
      </div>
    </div>        
</div>

<footer class="bd-footer bg-light">
  <div class="container px-md-3">
    <div class="row">
      <div class="col-md-12"><p>&copy; 2022. All right resevered.</p> </div>     
    </div>
  </div>
</footer>